* {
    padding: 0;
    margin: 0;
}
.github {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 100px;
    height: 100px;
    display: block;
    z-index: 100;
    img {
        position: relative;
        z-index: 1;
        width: 100px;
        height: 100px;
        cursor: pointer;
    }
}

.body {
    
    .tit {
        position: fixed;
        text-align: center;
        width: 100%;
        top: 11px;
        z-index: 1;
        background: #fff;
        .title {
            margin-top: -30px;
            font-size: 20px;
            width: 100px;
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
    .content {
        text-align: center;
        position: relative;
        margin-top: 30px;
    }
    #canvas {
        background: #ffffff;
        // height: 600px;
        // width: 1000px;
    }
    .setting {
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 20px;    
        .item {
            display: inline-block;
            margin: 10px 10px;
            img {
                cursor: pointer;
                margin: 6px 10px;
                width: 34px;
                height: 34px;
                &.litter {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        #colors {
            .col {
                width: 30px;
                height: 30px;
                display: inline-block;
            }
        }
    }
}

